.section-data img {
    width: 230px;
    height: 150px;
}

#main {
    margin: 70px;
}

.section-data {
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
}

.section-data:hover {
    box-shadow: 4px 4px grey;
}

table {
    width: 100%;
}

#picture {
    width: 250px;
}

#name {
    width: 400px;
}

#author {
    width: 200px;
}

#year {
    width: 100px;
}

#price {
    width: 100px;
}

#action {
    width: 100px;
}

td li {
    border: 1px solid greenyellow;
    width: 150px;
    list-style: none;
    text-align: center;
    padding: 10px;
    background-color: springgreen;
    box-shadow: 2px 1px 1px grey;
}

td li a {
    text-decoration: none;
}

#data {
    padding-top: 110px;
}